/* Base Fullscreen Reset */
html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  cursor: none; /* Hide the default cursor */
}

button {
  cursor: none; /* Hide the default cursor for buttons */
}

/* Set fonts for use */
@font-face {
  font-family: 'Wobbly';
  src: url('../portfolio_assets/Fonts/Wobbly font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Improves loading performance */
}

@font-face {
  font-family: 'ZeroCool';
  src: url('../portfolio_assets/Fonts/ZeroCool.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Improves loading performance */
}

/* common classes so we don't need to keep typing this */
.decorations {
  position: absolute;
}

/* cursor */
#cursor {
  position: fixed;

  pointer-events: none;
  z-index: 10000;
}

#defaultCursor {
  width: 20px;
  height: 20px;

  background-image: url('../portfolio_assets/Images/Cursor/default-cursor.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#clickCursor {
  width: 20px;
  height: 20px;

  
}

#clickCursor p {
  font-family: 'Wobbly', sans-serif;
  font-size: 1.75rem;
  text-align: center;
}