/* Base Fullscreen Reset */
html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* Set fonts for use */
@font-face {
  font-family: 'Wobbly';
  src: url('../portfolio_assets/Fonts/Wobbly font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Improves loading performance */
}

/* Essential stuffs :) */
#backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Welcome screen content */
#welcomeScreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 100;

  text-align: center;
  justify-content: center;
  align-items: center;

  color: black;
  font-family: 'Wobbly', sans-serif;

  background-image: url('../portfolio_assets/Images/Backgrounds/dark blue paper background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: #263255;
}

#welcomeScreen.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  pointer-events: none; /* Allows clicks to pass through to desktop */
}

#welcomeScreen img {
  position: absolute;
  width: 80%;
  height: auto;
}

#welcomeScreen .welcomeScreen-wrapper {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 3fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

#welcomeScreen .welcomeScreen-wrapper h1 {
  font-size: 2.5rem;
  margin: 0.5rem;
}


/* desktop :) */
#desktopCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}